	<div class="welcome-page">
		<div class="first-div">
			<img src='assets/Handshake.jpg'>
		</div>

		<div class="second-div v-wrap">
			<div class="v-box">
				<p class=welcome-title> What is Re Member</p>
				<p class=welcome-information><b>Re Memeber</b> is a web application that seeks to help people that have not trouble with facial recognition but struggle <b>Re Member</b>-ing names.</p>
				<p class=welcome-information>Through our easy to use web-game users can create decks of cards containing the certain information about people they want to remember and play through these decks to excercise name to face memory.</p>
				<p class=welcome-information>Never again will you forget a name and even if you do you have a card to help you!</p>
			</div>
		</div>

		<div class="third-div v-wrap">
			<div class="v-box">
				<p class="welcome-title blue"> Just Follow These Easy Steps</p>
				<div class="steps">
					<div class="icon">
						<img src='assets/Login.png'>
						<h4>SIGN UP OR LOGIN</h4>
					</div>
					<div class="icon">
						<img src="assets/Create.png">
						<h4>CREATE A DECK AND CARDS</h4>
					</div>
					<div class="icon">
						<img src="assets/Play.png">
						<h4>PLAY THROUGH A DECK</h4>
					</div>
					<div class="icon">
						<img src="assets/Memorize.png">
						<h4>MEMORIZE NAMES</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="fourth-div">
			<p class=welcome-footer-information>Copyright © 2016 Create by Luis Fernando Plaz.</p>
		</div>
	</div>