	<div class="first-div">
	</div>
	<div class="second-div">
		<p class=title> What is Re Member</p>
		<p class=information>An application to avoid those embaracing moments where you just met a person and forgot their name.</p>
		<p class=information> Re Member allows users to create flashcards that contain the important information of the person that you just met</p>
	</div>
	<div class="third-div">
	</div>