* {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
}

#test-border{
	border: 3px red solid;
}

/*Navigation Bar Styling*/

.navigation-bar{
	top: 0;
	left: 0;
	position: static;
	display: block;
	width: 100%;
	height: 4.5rem;
	background-color: #202A43;
}

.nav-options {
	float: right;
	text-decoration: none;
	list-style: none;
	display: flex;
	margin-top: 2rem
}

.nav-link {
	border-left: none;
	padding-left: 1rem;
}

.nav-link:nth-child(1) {
	border-right: 1px solid white;
}

.nav-options li a {
	margin-right: 1rem;
	font-size: 0.9rem;
	font-weight: bolder;
	text-decoration: none;
	color: white;
}

.logo {
	height: 3rem;
	width: 6rem;
	position: static;
	float: left;
	padding-top:1rem;
}

/*Div Styling*/

.first-div{
	height: 30rem;
	background-image: url(../assets/Div-1.png);
	background-repeat: no-repeat;
	background-size: cover
}

.second-div{
	height: 30rem;
	border: 5px red solid;`
}

.third-div{
	height: 30rem;
	border: 5px red solid;
}

.title {
	padding-left: 3rem;
	font-size: 2.5rem;
}

.information {
	padding-left: 3rem;
	padding-right: 3rem;
	line-height: 1rem;
}

.banner{
	margin-top: 25%;
	display: bock;
}

main {
	border-top: solid 10px #FF7A5A
}

.input-options {
	display: flex;
	margin-bottom: 0.5rem;
}

.input-options label {
	width: 7.5rem;
}

.input-options input {
	width: 100%;
}

#form {
	margin-top: 1rem;
}

/*Profile Styling*/

.profile-nav{
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
}

.profile-title{
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
	padding:0;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

.heading {
	width: 50%;
	line-height: 3.5rem;
	text-align: center;
}

.deck-add-button{
	width:50%;
	text-align: left;
	text-align: center;
}

.deck-add-button a{
	width:100%;
	line-height: 3.5rem;
	text-decoration: none;
	color:#F0B503;
}

.decks-container{
	text-align: center;
}

.deck-container{
	border-bottom: 1px solid #FF7A5A;
	width:50%;
	margin: auto 0;
}

.deck-container a{
	text-decoration: none;
}

/*Deck Styling*/

.deck-title{
	padding-left: 1rem;
	width: 50%;
}

.deck-nav{
	display: flex;
	border-bottom: 1px solid black;
}

/*Card Styling*/

.card-add-button{
	width:50%;
	text-align: right;
}

.card-add-button a{
	padding-top: 50%;
	padding-right: 5%;
	line-height: 5rem;
	text-decoration: none;
	color:#F0B503;
}

.card-main{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}

.card-title{
	font-size: 1rem;
	text-align: center;
	height: 3rem;
	padding:0;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#card {
	border:5px solid black;
	border-radius: 5%;
	text-align: center;
	color: #e65e64;
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#card span{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Card Flip*/

.container { 
	width: 8rem;
	height: 10rem;
	position: relative;
	perspective: 800px;
	margin: 30px 10px 60px 20px;
}

#card figure {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

#card .front {
	background: #202A43;
	opacity: 0.9;
	color:#FF7A5A;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#card .back {
	background: #FF7A5A;
	color:#202A43;
	transform: rotateY( 180deg );
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#card.flipped {
	transform: rotateY( 180deg );
}

/*Guess Styling*/

.guess-title{
	text-align: center;
}

.guess-question{
	text-align: center;
	margin-top:6rem;

}

.guess-container{
	width: 8rem;
	height: 10rem;
	position: relative;
	perspective: 800px;
	margin: 0 auto
}

.guess-options {
	margin: 0 auto;
	text-align: center;
}