* {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
}

a {
	color:#202A43;
}

#test-border{
	border: 3px red solid;
}

.alert {
	color:red;
	text-align: center;
	margin-top: 3rem;
}

/*Navigation Bar Styling*/

.navigation-bar{
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	width: 100%;
	height: 4.5rem;
	background-color: #202A43;
	border-bottom: solid 10px #FF7A5A;
}

.nav-options {
	float: right;
	text-decoration: none;
	list-style: none;
	display: flex;
	margin-top: 2rem
}

.nav-link {
	border-left: none;
	padding-left: 1rem;
}

.nav-link:nth-child(1) {
	border-right: 1px solid white;
}

.nav-options li a {
	margin-right: 1rem;
	font-size: 0.9rem;
	font-weight: bolder;
	text-decoration: none;
	color: white;
}

.logo {
	height: 3.4rem;
	width: 6rem;
	position: static;
	float: left;
	padding-top:0.6rem;
	padding-left: 0.4rem;
}

/*Welcome Styling*/

.welcome-page{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.welcome-title{
	margin-top: 0;
	font-size: 2.5rem;
	color:white;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.welcome-information{
	font-size: 1.5rem;
	width:75%;
	margin:0 auto;
	color:white;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-bottom: 1rem;
}

.welcome-information b{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.welcome-footer-information{
	font-size: 1.3rem;
	width:75%;
	margin:0 auto;
	color:white;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-bottom: 1rem;
	padding-top: 4rem;
}

.blue{
	color:#495F97;
}

.first-div{
	height: 36rem;
	overflow: hidden;
}

.first-div img{
	width:100%;
	height:121%;
}

.second-div{
	line-height: 2.3rem;
	height: 36rem;
	border-top: none;
	background-color: #6777a0;
}

.second-div span{
	vertical-align: center;

}

.third-div{
	height: 36rem;
	text-align: -webkit-center;
}

.fourth-div{
	height: 10rem;
	background-color: #E95734;
}

.steps img{
	width: 50%;
	height: 50%;
	padding-right:3rem; 
	padding-left:3rem;
	margin-top: 1rem;
}

.steps{
	margin-top: 3rem;
	display: inline-flex;
	width: 100%
}

.icon{
	width:24%;
	text-align: center;
}

.icon h4{
	text-align: center;
}

.v-wrap{
	white-space: nowrap;
	text-align: center;
}

.v-wrap:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	/* adjust for white space between pseudo element and next sibling */
	margin-right: -.25em;
	/* stretch line height */
	height: 100%; 
}

.v-box{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 100%
}

/*Misc Styling*/

.title {
	padding-left: 3rem;
	font-size: 2.5rem;
}

.sub-title{
	padding-top: 2rem;
	text-align: center;
}

.information {
	padding-left: 3rem;
	padding-right: 3rem;
	line-height: 1rem;
}

.banner{
	margin-top: 25%;
	display: bock;
}

main {
	margin-top: 5rem;
}

.form-container{
	margin: 0 auto;
	width: 50%;
}

.form-button{
	text-align: right;
}
.input-options {
	display: flex;
	margin-bottom: 0.5rem;
}

.input-options label {
	width: 5rem;
}

.input-options input {
	width: 100%;
}

#form {
	text-align: center;
	margin: 0 auto;
	margin-top: 1rem;
	border: none;
}

label{
	display: inline-block;
	float: left;
	clear: left;
	text-align: right;
	margin-right: 1rem;
}
input {
	display: inline-block;
}

/*Profile Styling*/

.profile-nav{
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
}

.profile-title{
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
	padding:0;
	margin-top: 7rem;
	margin-bottom: 1.5rem;
}

.heading {
	width: 50%;
	line-height: 3.5rem;
	text-align: center;
}

.deck-add-button{
	width:100%;
	text-align: left;
	text-align: center;
}

.deck-add-button a{
	width:100%;
	line-height: 3.5rem;
	text-decoration: none;
	color:#F0B503;
}

.decks-container{
	text-align: center;
	float: left;
	width: 50%;
    height: 30rem;
    overflow: scroll;
}

.cards-container{
	text-align: center;
	float: right;
	width: 50%;
	height: 30rem;
    overflow: scroll;
}

.card-main-profile{
	display: block;
    width: 50%;
    margin: 0 auto;
}

.deck-container{
	border-bottom: 1px solid #FF7A5A;
	width:100%;
	margin: auto 0;
}

.deck-container a{
	text-decoration: none;
}

.cards-container .container{
	margin: 22px auto 85px auto;
}

.cards-container .card-title{
	margin-bottom: 0.2rem;
	margin-top: 0rem;
}

.card-stats{

}

/*Deck Styling*/

.deck-title{
	padding-left: 1rem;
	width: 50%;
}

.deck-nav{
	display: flex;
	border-bottom: 1px solid black;
}

/*Card Styling*/

.card-add-button{
	width:50%;
	text-align: right;
}

.card-add-button a{
	padding-top: 50%;
	padding-right: 5%;
	line-height: 5rem;
	text-decoration: none;
	color:#F0B503;
}

.card-main{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}

.card-title{
	font-size: 1rem;
	text-align: center;
	height: 3rem;
	padding:0;
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}

#card {
	border:5px solid black;
	border-radius: 5%;
	text-align: center;
	color: #e65e64;
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#card span{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_preview{
	width: 100%;
	height: 100%;
	border-radius: 3%;
}

/*Card Flip*/

.container { 
	width: 9.5rem;
	height: 10rem;
	position: relative;
	perspective: 800px;
	margin: 30px 10px 60px 16px;
}

#card figure {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

#card .front {
	background: #202A43;
	opacity: 0.9;
	color:#FF7A5A;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#card .back {
	background: #FF7A5A;
	color:#202A43;
	transform: rotateY( 180deg );
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 2rem;
}

#card.flipped {
	transform: rotateY( 180deg );
}

/*Guess Styling*/

.guess-title{
	text-align: center;
	margin-top: 8rem;
}

.guess-question{
	text-align: center;
	margin-top:3rem;
}

.guess-container{
	width: 12.5rem;
	height: 13.2rem;
	position: relative;
	perspective: 800px;
	margin: 0 auto;
	margin-top: 2rem;
}

.guess-options{
	margin: 0 auto;
	text-align: center;
}

.guess-btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	min-width: 50px;
	line-height: 46px;
	padding: 0 18px;
	font-size: 14px;
	color: white;
	text-align: center;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 4px;
	margin-bottom: 2rem;
}

.guess-btn:active:before {
	top: -50%;
	bottom: -125%;
	left: -15%;
	right: -15%;
	-webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
}

.btn-green {
	text-shadow: 0 1px #0d4d09;
	background-color: #209514;
	border-color: #147b0e #11640b #11640b;
	margin-right: 1rem;
}

.btn-green:hover { 
	background-color: #3AB62D;
}

.btn-red {
	text-shadow: 0 1px #72100d;
	background-color: #B62119;
	border-color: #9f1713 #891310 #891310;
	margin-left: 1rem;
}

.btn-red:hover { 
	background-color: #DE3737;
}

/*Round Styling*/

.quiz-info{
	text-align: center;
}

.stats{
	text-align: center;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.answers{
	display: inline-flex;
	margin: auto 0;
}

.answer-info{
	margin-right: 1rem;
	margin-bottom: 3rem;
	margin-left: 1rem
}

.answer-info:nth-child(1){
	border-right: 1.5px solid black;
	padding-right: 2rem;
}

.img_thumb{
	width: 5rem;
	height: 5rem;
	border-radius: 5%;
	display: block;
	margin: 0 auto;
	margin-bottom: 1rem
}

.right-text{
	color:green;
}

.wrong-text{
	color:red;
}

.card-stats{
	
}
